.container {
  transition: background-color 0.2s;
}

.container:hover {
  border-right: 1em solid #6d6666;
  background-color: rgba(133, 93, 146, 0.2);
  border-radius: 0.5em;
}

body {
  background-image: url('/Users/freddy/bootcamp/Techno-MVC/public/images/tech-blog.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Responsive Media Features for different sized screens */

@media screen and (min-width: 768px) {
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  /* CSS styles for tablets in portrait mode */
}

@media screen and (max-width: 767px) {
  /* CSS styles for smartphones */
}

@media screen and (min-width: 1200px) {
  /* CSS styles for large desktop screens */
}